<div>
    <h1 class="title">Inyección de cookies</h1>
    <form id="cookieForm" class="form">
        <label>Nombre</label>
        <input name="name">
        <label>Correo electrónico</label>
        <input name="email">
        <input type="submit"> 
    </form>
    <br>
    <button onclick="getCookie()">Obtener Cookie</button>
</div>
<script src="/js/cookieSetter.js"></script>