<div>
  <h1 class="title">PRODUCTOS - Tienda PC</h1>
  <h2 class="title">Bienvenidos</h2>

  <div>
    <p id="result"></p>
  </div>

  <div class="menu">
    <a href="/products/"><button>Productos</button></a>
    <a href="/realtimeproducts"><button>Modificar Productos</button></a>
    <a href="/cart"><button>Carrito</button></a>
    {{! <a href="/cookie" ><button>Cookies</button></a> }}
    {{! <a href="/Session" ><button>Session</button></a> }}
    <a href="/login"><button>Perfil Usuario</button></a>
    <a href="/users"><button>Lista de Usuarios</button></a>
  </div>

</div>

<script src="/js/profile.js"></script>