<div>
    <h1 class="title">PRODUCTOS - Tienda PC</h1>
    <h2 class="title">Bienvenidos</h2>

<div class="menu">
                <a href="/products/" ><button>Productos</button></a>
                <a href="/realtimeproducts" ><button>Modificar Productos</button></a>
                <a href="/cart" ><button>Carrito</button></a>
                <a href="/cookie" ><button>Cookies</button></a>
</div>
    
</div>

