<div>
  <h1 class="title">Tu perfil:</h1>
  <p><span>Usuario: </span>{{user.name}}</p>
  <p><span>Correo: </span>{{user.email}}</p>
  <p><span>Edad: </span>{{user.age}}</p>
  <p><span>Rol: </span>{{user.rol}}</p>
  <br />
  <a href="/api/session/logout"><button>CERRAR SESIÓN</button></a>
  <br />
  <br />
  <a href="/resetPassword"><button>Cambiar Contraseña</button></a>
</div>