<div>
  <h1 class="title">Registro</h1>
  <form id="registerForm" class="form">
    <label>Nombre</label>
    <input name="first_name" />
    <label>Apellido</label>
    <input name="last_name" />
    <label>Email</label>
    <input name="email" />
    {{! <label>Rol</label>
    <input name="rol" /> }}
    <label>Edad</label>
    <input name="age" />

    <label>Contraseña</label>
    <input type="password" name="password" />
    <br />
    <input type="submit" />
    <br />
    <p>¿Ya tienes una cuenta? <a href="/login">Ingrese aquí</a></p>

  </form>

</div>
<script src="/js/register.js"></script>