<div>
  <h1 class="title">Reset Password</h1>
  <form id="restartPasswordForm" class="form">
    <label>Correo electrónico</label>
    <input name="email" />
    <label>Nueva contraseña</label>
    <input name="password" />
    <br>
    <input type="submit" />
  </form>
</div>
<script src="/js/restartPassword.js"></script>